 ::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
body {
    font-family: 'Montserrat', sans-serif;
}

.bg-danger {
    background-image: url('../img/barrio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.APA3{
    background-image: url('../img/ba3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.APA4{
    background-image: url('../img/ba4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.APA5{
    background-image: url('../img/ba2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-success {
    background-color: #35a564 !important;
}

.bg-warning {
    background-color: #fef46d !important;
}

.bg-secondary {
    background-color: #752f97 !important;
}

.fixed-top.bg-success {
    -webkit-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
}

.fixed-top {
    transition: all .3s ease;
}

.fixed-top .nav-link {
    color: white;
}

.fixed-top .active {
    background-color: #752f97 !important;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar-brand span {
    font-weight: 700;
}

.navbar-brand:hover {
    color: white;
}


@media (min-width: 992px) {
    .embed-responsive {
        background-image: unset;
        height: auto;
    }

}

.embed-responsive::after {
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    display: block;
    top: 0;
    
    background: -moz-linear-gradient(-45deg, rgba(29, 207, 178, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, hsla(81, 82%, 43%, 0.7) 100%);
   
    background: -webkit-linear-gradient(-45deg, rgba(9, 172, 145, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, hsla(81, 82%, 43%, 0.7) 100%);
    
    background: linear-gradient(135deg, rgba(13, 180, 152, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, hsla(81, 54%, 41%, 0.7)100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3a90329', endColorstr='#b36b6b6b', GradientType=1);
 
}

.informacion-concierto {
    position: absolute;
    z-index: 100;
    top: 20%;
}

.informacion-concierto h1 {
    font-size: 3rem;
    line-height: 6rem;
}

@media (min-width: 768px) {
    .informacion-concierto {
        top: 30%;
    }

    .informacion-concierto h1 {
        font-size: 4rem;
        line-height: unset;
    }
}

.informacion-concierto h1 span,
.informacion-concierto p {
    font-weight: 700;
    -webkit-box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
}

.informacion-concierto p {
    font-size: 2rem;
}

.informacion-concierto .text-dark,
.contenido-principal .text-dark {
    color: #05373d !important;
    font-weight: 700;
}

/** Line up **/

.separador::after {
    content: '';
    display: block;
    height: 120px;
    width: 300px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

.rock::after {
    background-image: url('../img/imagen2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

.dj::after {
    background-image: url('../img/imagen3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

.horario1 li:nth-child(2n+1) {
    background-color: rgba(33, 192, 126, 0.5);
    border-radius: 10px;
    border-color: black;
    border-style: groove;
    background: transparent;
    backdrop-filter: blur(10px);
}

.horario li:nth-child(2n+1) {
    background-color: rgba(206, 209, 19, 0.5);
    border-radius: 10px;
    border-color: black;
    border-style: groove;
    background: transparent;
    backdrop-filter: blur(10px);
}

#APA2:first-child {
    margin-top: 200px;
}


.list-group-item-success {
    background-color: #4cb8b3 !important;
}

#contenedor {
    display: flex;  
    justify-content: start; 
    width: 100%; /
   
}

#agregarPersona, #agregarCuenta, #agregarTransaccion {
    width: 20%; 
}
#agregarCuenta {
    position: relative;
    top: 20px;
    left: 15%;
}
#agregarTransaccion{
    position: relative;
    top: 20px;
    left: 30%;
}
#eliminarPersona{
    position: relative;
    top: 20px;
    left: 40%;
}

#modificarPersona,#modificarCuenta,#modificarTransaccion{
    width:20%; 
}
#modificarPersona{
    position: relative;
    top: 30px;
    left: 10%;
}
#modificarCuenta{
    position: relative;
    top: 30px;
    left: 20%;
}
#modificarTransaccion{
    position: relative;
    top: 30px;
    left: 30%;
}


.form__group {
    position: relative;
    top: 20px;
    padding: 20px 0 0;
    width: 100%;
    max-width: 250px;
    border-color: black;
    border-style: groove;
    background: transparent;
    text-align: center;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

.form__field {

    font-family: inherit;
    width: 80%;
    border: none;
    border-bottom: 2px solid #013a0a;
    outline: 0;
    font-size: 17px;
    color: #020202;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    
    color: #0a0707;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-1 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #0e6851;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 80%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.btn-1:disabled {
    cursor: default;
}

.btn-1:-moz-focusring {
    outline: auto;
}

.btn-1 svg {
    display: block;
    vertical-align: middle;
}

.btn-1 [hidden] {
    display: none;
}

.btn-1 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.8rem 3rem;
}

.btn-1:hover {
    color: #999;
}